<p id="notice"><%= notice %></p>
<a class="pull-right" href="/cards/<%= @card.parent_id %>" id="parent_card_id" data-parent="<%= @card.id %>">Zoom Out</a>
<h1>
  <%= @card.title %>
</h1>

<p>
  <%= @card.description %>
</p>

<%= render "card_table" %>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
